.input-group {
  text-align: left;
  margin-bottom: 1rem;

  label {
    font-size: 0.85rem;
    color: #6c757d;
    display: block;
    margin-bottom: 0.25rem;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    position: relative;
  }

  .error-msg {
    font-size: 0.75rem;
    color: red;
    margin-top: 0.25rem;
  }

  .show-password {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
