.explore-auctions {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;

  .explore {
    color: black;
  }

  .auctions {
    color: #357ae8;
    margin-left: 10px;
  }
}
